<div class="relative mb-10">
  <div class="relative">
    @if (element === 'input') {
    <input
      class="main-input peer"
      [formControl]="control"
      [type]="inputType"
      [id]="inputId"
      placeholder=" "
    />
    } @else if (element === 'textArea') {
    <textarea
      class="main-input peer resize-none"
      [formControl]="control"
      [id]="inputId"
      placeholder=" "
    ></textarea>
    }

    <label [for]="inputId" class="main-label">
      {{ labelName }}
    </label>
  </div>

  <!-- Error -->
  <div class="absolute left-0 top-full mt-1 min-h-5">
    @if (control?.errors && control?.touched) {
    <div class="text-sm text-red-600" role="alert">
      @if (control?.hasError('required')) {
      <span>Input Required</span>
      } @if (control?.hasError('email')) {
      <span>Invalid Email Format</span>
      } @if (control?.hasError('pattern')) {
      <span><ng-content></ng-content></span>
      } @if (control?.hasError('mismatch')) {
      <span>Password isn't matching</span>
      }
    </div>
    }
  </div>
</div>
