<header>
  @if (isLoggedIn === true) {
  <nav class="bg-(--main-color) w-full py-3 px-4 md:px-10">
    <div class="flex flex-col md:flex-row items-center justify-between gap-3 md:gap-0">
      <div class="hidden md:flex flex-wrap items-center gap-3 md:gap-8">
        <span class="text-[12px] uppercase text-white">FREE SHIPPING FOR ALL ORDERS OF $150</span>
      </div>
      <div class="flex flex-wrap gap-4 md:gap-8">
        <span routerLink="/newsletter" class="capitalize text-white cursor-pointer hover:underline"
          >news letter</span
        >
        <span routerLink="/faq" class="capitalize text-white cursor-pointer hover:underline"
          >faqs</span
        >
        <span routerLink="/contactus" class="capitalize text-white cursor-pointer hover:underline"
          >contact us</span
        >
      </div>
    </div>
  </nav>
  }

  <nav class="bg-neutral-primary">
    <div class="flex flex-wrap items-center justify-between max-w-screen-2xl mx-auto p-4 gap-3">
      <div class="flex-wrap items-center gap-6 hidden md:flex">
        <div class="flex items-center space-x-2">
          <img src="/images/technology.svg" class="w-8" alt="" />
          <div>
            <strong class="text-sm">Call toll-free</strong>
            <p class="text-sm">+73 099 321 312</p>
          </div>
        </div>
        <div class="flex items-center space-x-2">
          <img src="/images/handmade-questions.svg" class="w-8" alt="" />
          <div>
            <strong class="text-sm">any questions</strong>
            <p class="text-sm">velora@made.com</p>
          </div>
        </div>
      </div>

      <a href="/" class="flex items-center md:justify-center flex-1">
        <span class="text-3xl text-(--main-color) font-logo">Velora</span>
      </a>

      <div class="flex items-center gap-6">
        <a href="" class="relative text-2xl" routerLink="/wishlist"
          ><i class="fa-regular fa-heart"></i>
          <span
            class="absolute -top-2 -right-2 bg-(--main-color) text-white text-xs px-2 py-0.5 rounded-full"
          >
            {{ wishListCount }}
          </span>
        </a>
        <a href="" class="relative text-2xl" routerLink="/cart"
          ><i class="fas fa-shopping-cart"></i>
          <span
            class="absolute -top-2 -right-2 bg-(--main-color) text-white text-xs px-2 py-0.5 rounded-full"
            >{{ count }}</span
          >
        </a>
        @if (isLoggedIn === false) {
        <a routerLink="/login" class="text-md uppercase">login / register</a>
        }@else {
        <a (click)="signOut()" class="text-md cursor-pointer">SignOut</a>
        }
      </div>
    </div>
  </nav>

  @if (isLoggedIn === true) {
  <nav class="bg-neutral-secondary-soft border-y border-default">
    <div class="max-w-screen-2xl px-4 py-3 mx-auto">
      <div class="flex items-center justify-between md:justify-center">
        <button
          type="button"
          (click)="toggleMobileMenu()"
          class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-heading rounded-lg md:hidden hover:bg-neutral-tertiary-medium focus:outline-none focus:ring-2 focus:ring-default-medium"
          aria-controls="navbar-menu"
          [attr.aria-expanded]="isMobileMenuOpen"
        >
          <span class="sr-only">Toggle main menu</span>
          <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
            <path
              fill-rule="evenodd"
              d="M3 5h14a1 1 0 100-2H3a1 1 0 100 2zm14 4H3a1 1 0 000 2h14a1 1 0 000-2zm0 6H3a1 1 0 000 2h14a1 1 0 000-2z"
              clip-rule="evenodd"
            />
          </svg>
        </button>
        <!-- Desktop Menu -->
        <ul class="hidden md:flex font-medium md:space-x-8 text-lg">
          <li>
            <a
              routerLink="/home"
              routerLinkActive="bg-[#79B38A] p-1 rounded text-white"
              class="text-heading"
              >Home</a
            >
          </li>
          <li>
            <a
              routerLink="/products"
              routerLinkActive="bg-[#79B38A] p-1 rounded text-white"
              class="text-heading"
              >Products</a
            >
          </li>
          <li>
            <a
              routerLink="/allorders"
              routerLinkActive="bg-[#79B38A] p-1 rounded text-white"
              class="text-heading"
              >All Orders</a
            >
          </li>
        </ul>

        <!-- Overlay -->
        @if (isMobileMenuOpen) {
        <div class="fixed inset-0 bg-black/50 z-40 md:hidden" (click)="toggleMobileMenu()"></div>
        }

        <!-- Drawer -->
        <div
          class="fixed top-0 left-0 h-full w-72 bg-white z-50 transform transition-transform duration-300 md:hidden"
          [class.-translate-x-full]="!isMobileMenuOpen"
          [class.translate-x-0]="isMobileMenuOpen"
        >
          <div class="p-5 flex items-center justify-between border-b">
            <span class="text-2xl font-logo text-(--main-color)">Velora</span>
            <button (click)="toggleMobileMenu()">✕</button>
          </div>

          <ul class="flex flex-col gap-6 p-5 text-lg">
            <li>
              <a routerLink="/home" (click)="toggleMobileMenu()">Home</a>
            </li>
            <li>
              <a routerLink="/products" (click)="toggleMobileMenu()">Products</a>
            </li>
            <li>
              <a routerLink="/allorders" (click)="toggleMobileMenu()">All Orders</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  }
</header>
